* {
  border-style: border-box; 
}

body {
  font-size: 18px
}

main {
  background-color: #E5F3F2;
  width: 320px;
}

h1 {
  color: #6D6E71;
}

h1 > span {
  color: #00A79D;
}

input,
textarea {
  display: block;
  margin: auto;
}

.save-button {
  border-style: none;
  display: block;
  background-color: #00A79D;
  margin: auto;
}

.idea-card-wrap {
  width: 278px;
  padding: 20px;
}

.idea-card-wrap input {
  border: 1px solid #D1D3D4;
  height: 1.5em;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1em;
  color: #6D6E71;
}

.idea-card-wrap input:focus {
  outline: none;
}

.idea-card-wrap input::placeholder {
  font-size: 1em;
  font-weight: bold;
  color: #cccccc;
}

.idea-card {
  position: relative;
}

.idea-card h1 {
  font-size: 1.5em;
}

.idea-card h2 {
  font-size: 1em;
}

.idea-card h1,
.idea-card h2 {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  display: inline-block;
  margin: 0px;
}

.idea-card .rating,
.idea-card p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.idea-card p {
  font-size: 1em;
  color: #939598;
}

.idea-card hr {
  border: 1px solid #D1D3D4;
  margin: 20px 0;
}

.idea-card button {
  border: none;
  margin: 0 5px 0 0;
  cursor: pointer;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

.idea-card .delete-button {
  position: absolute;
  right: -5px;
  background: url(images/delete.svg) no-repeat;
}

.idea-card .delete-button:hover {
  background: url(images/delete-hover.svg) no-repeat;
}

.idea-card .upvote-button {
  background: url(images/upvote.svg) no-repeat;
}

.idea-card .upvote-button:hover {
  background: url(images/upvote-hover.svg) no-repeat;
}

.idea-card .downvote-button {
  background: url(images/downvote.svg) no-repeat;
}

.idea-card .downvote-button:hover{
  background: url(images/downvote-hover.svg) no-repeat;
}




/*Fonts*/
/*
Roboto Slab - Font Weight 700
Open Sans - Font Weight 400

font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;
*/