* {
  border-style: border-box; 
  margin: 0;
}

html {
/*why does our html have any kind of value??*/
}

body {
  font-size: 18px
  margin: 0;
}

main {
  padding: 3% 0%;
  width: 100%;
}

h1 {
  color: #6D6E71;
  font-family: "Roboto Slab", serif;
  margin: 0px;
  text-align: center;
}

h1 > span {
  color: #00A79D;
}

input,
textarea {
  display: block;
  border: 1px solid #D1D3D4;
  margin: 4% auto 3%;
  padding: 2px 5px;
  font-family: "Open Sans", sans-serif;
  width: 87%;
  max-width: 750px;
  font-size: 1em;
  color: #6D6E71;
}

input {
  height: 2em;
  
}

textarea {
  height: 6rem;
}

button:focus,
input:focus,
textarea:focus {
  outline: 0;
}

.idea-input-wrap {
  padding: 0px;
}

.blue-background {
  background-color: #E5F3F2;
  padding: 30px 0px 15px;
}

.save-button {
  border-style: none;
  display: block;
  background-color: #00A79D;
  color: #FFF;
  margin: auto;
  width: 89%;
  max-width: 760px;
  height: 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.save-button:hover {
  background-color: #045E55;
}

.idea-card-wrap {
  /*width: 278px;*/
  /*width: 100%;*/
  padding: 20px;
  max-width: 750px;
  margin: auto;
}

.idea-card-wrap input {
  border: 1px solid #D1D3D4;
  height: 2.5em;
  padding: 10px;
  /*width: 100%;*/
  width: 93%;
  max-width: 750px;
  margin-bottom: 20px;
  font-size: 1em;
  color: #6D6E71;
  /*text-align: center;*/
}

.idea-card-wrap input:focus {
  outline: none;
}

.idea-card-wrap input::placeholder {
  font-size: 1em;
  font-weight: bold;
  color: #cccccc;
}

.idea-card {
  position: relative;
}

.idea-card h1 {
  font-size: 1.5em;
}

.idea-card h2 {
  font-size: 1em;
}

.idea-card h1,
.idea-card h2 {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  display: inline-block;
  margin: 0px;
}

.idea-card .rating,
.idea-card p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.idea-card p {
  font-size: 1em;
  color: #939598;
}

.idea-card hr {
  border: 1px solid #D1D3D4;
  margin: 20px 0;
}

.idea-card button {
  border: none;
  margin: 0 5px 0 0;
  cursor: pointer;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

.idea-card .delete-button {
  position: absolute;
  right: -5px;
  background: url(images/delete.svg) no-repeat;
}

.idea-card .delete-button:hover {
  background: url(images/delete-hover.svg) no-repeat;
}

.idea-card .upvote-button {
  background: url(images/upvote.svg) no-repeat;
}

.idea-card .upvote-button:hover {
  background: url(images/upvote-hover.svg) no-repeat;
}

.idea-card .downvote-button {
  background: url(images/downvote.svg) no-repeat;
}

.idea-card .downvote-button:hover{
  background: url(images/downvote-hover.svg) no-repeat;
}



@media screen and (min-width: 650px) {
  h1 {
    font-size: 3.3em;
  }

  input,
  textarea {
    height: 2em;
  }
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 5em;
  }


}




/*Fonts*/
/*
Roboto Slab - Font Weight 700
Open Sans - Font Weight 400

font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;
*/