/*Body Styling*/

* {
  border-style: border-box; 
  margin: 0;
}

body {
  font-size: 18px
  margin: 0;
}

main {
  padding: 3% 0%;
  width: 100%;
}

/*Input Area Styling*/

h1 {
  color: #6D6E71;
  font-family: "Roboto Slab", serif;
  font-size: 3em;
  margin: 0px;
  text-align: center;
}

h1 > span {
  color: #00A79D;
}

input,
textarea {
  border: 1px solid #D1D3D4;
  color: #6D6E71;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin: 4% auto 3%;
  max-width: 750px;
  padding: 2px 5px;
  width: 87%;
}

input::placeholder,
textarea::placeholder {
  font-weight: 700;
  color: #D1D3D4;
}

input {
  height: 2em;
}

textarea {
  height: 6rem;
  resize: none;
}

button:focus,
input:focus,
textarea:focus,
h1:focus,
p:focus {
  outline: 0;
}

.idea-input-wrap {
  padding: 0px;
}

.blue-background {
  background-color: #E5F3F2;
  padding: 30px 0px 15px;
}

.save-button {
  background-color: #00A79D;
  border-style: none;
  color: #FFF;
  cursor: pointer;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  height: 2rem;
  margin: 2% auto 1%;
  max-width: 760px;
  width: 88%;
}

.save-button:hover {
  background-color: #045E55;
}

.save-button:disabled {
  background-color: #D1D2D4;
  cursor: auto;
}

#search-box {
  width: 88%;
}

/*Idea Card Section Styling*/

.idea-card-wrap {
  margin: auto;
  max-width: 750px;
  padding: 20px;
}

.idea-card-wrap input {
  border: 1px solid #D1D3D4;
  color: #6D6E71;
  font-size: 1em;
  height: 2.5em;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 750px;
  width: 93%;
}

.idea-card-wrap input:focus {
  outline: none;
}

.idea-card-wrap input::placeholder {
  color: #cccccc;
  font-size: 1em;
  font-weight: bold;
}

/*Idea Card Styling*/

.idea-card {
  margin: auto;
  position: relative;
  width: 94%;
}

.idea-card h1 {
  font-size: 1.5em;
}

.idea-card h2 {
  font-size: 1em;
}

.idea-card h1,
.idea-card h2 {
  color: #6D6E71;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin: 0px;
}

.idea-card .rating,
.idea-card p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.idea-card p {
  color: #939598;
  font-size: 1em;
  margin: 15px 0px;
  max-height: 120px;
  overflow-y: scroll;
}

.idea-card hr {
  border: 1px solid #D1D3D4;
  margin: 20px 0;
}

/*Button Styling*/

.idea-card button {
  border: none;
  cursor: pointer;
  height: 30px;
  margin: 0 5px 0 0;
  vertical-align: middle;
  width: 30px;
}

.idea-card .delete-button {
  background: url(images/delete.svg) no-repeat;
  position: absolute;
  right: -5px;
}

.idea-card .delete-button:hover {
  background: url(images/delete-hover.svg) no-repeat;
}

.idea-card .upvote-button {
  background: url(images/upvote.svg) no-repeat;
}

.idea-card .upvote-button:hover {
  background: url(images/upvote-hover.svg) no-repeat;
}

.idea-card .downvote-button {
  background: url(images/downvote.svg) no-repeat;
}

.idea-card .downvote-button:hover {
  background: url(images/downvote-hover.svg) no-repeat;
}

/*Media Queries*/

@media screen and (min-width: 650px) {
  h1 {
    font-size: 3.3em;
  }

  input,
  textarea {
    height: 2em;
    margin: 2% auto 1%;
  }
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 5em;
  }

  .idea-card {
    width: 100%;
  }
}